.App 
    display: flex
    align-items: center

.list
  margin: 20px 20px 
  height: 500px
  width: 300px
  overflow: auto
  background-color: #222
  float: left
  color: #ddd
  list-style-type: none
  svg
      color: #777

.list::-webkit-scrollbar 
  width: 0

.item
  margin: 5px

.left
  margin-right: auto
      